# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
client/node_modules
client/public/users/photos/*
!client/public/users/photos/avatar.js
.vscode/settings.json
package-lock.json
package.json
client/package-lock.json
client/package.json
client/build
