node_modules
client/node_modules
photos/*
!photos/avatar.png
!photos/dima.png
!photos/misha.png
!photos/ura.png
!photos/olya.png
!photos/sasha.png
!photos/borys.png
!photos/nastya.png
!photos/anna.png
!photos/femabi.png
!photos/femabi2.png
!photos/malebi.png
!photos/malebi2.png
!photos/gayguy.png
!photos/gayguy2.png
!photos/lesbian.png
!photos/lesbian2.png
.vscode/settings.json
package-lock.json
client/package-lock.json
.DS_Store
client/.DS_Store
client/build
